@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

:root{
    --text-color: rgb(253, 0, 63);
    --dark-color: rgb(8, 0, 77);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--text-color);
}

.container{
    display: flex;
    padding: 10px;
    margin: 0 ;
    max-width: 100%;
    width: 50rem;

}

h1 {
    display: block;
    font-size: 2rem;
    margin-block-start: 2rem;
    margin-block-end: 2rems;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff !important;
    font-weight: bold;
    margin-left: 3.5rem;
    margin-right: 2rem;
}



aside{
    padding: 0.5rem 1rem;
    width: 20rem;
    border-right: 6px solid rgb(255, 255, 255);
    font-weight: bold;
    
}



.example_b {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: rgb(253, 0, 63);
	padding: 20px;
    width: 100%;
    cursor: pointer;
    margin: 0.8rem 0;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.8s ease 0s;
}

.example_b:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 15px 80px -20px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 15px 80px -20px rgba(35, 0, 161, 0.57);
	transition: all 0.2s ease 0s;
}

main{
    flex: 1;
    padding: 0.5rem 1rem;
}

h2{
    border-bottom: 0.3rem solid #fff;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.users{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}